<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <!-- 1st Section -->
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <button class="btn_scrape_data" style="vertical-align:middle"><span>Scrape New Data</span>
            </button>
        </div>
    </div>
    
    <!-- 2nd Section -->
    <div class="container">
        <article>
            <h1>Latest Mars News</h1>
            <h2>{{top_article_title}}</h2>
            <h3>{{top_article_body}}</h3>
        </article>
    </div>

    <div class="container"></div>
      <div class="jumbotron text-center">
        <!-- Render our data -->
        <h1>{{ text }}</h1>
      </div>
      <!-- Add link to bonus [note the href is a flask route ]-->
      <p> Click <a href="bonus">here</a> to visit my bonus page!</p>
  
  
    </div>
  
    <!-- How do you process a list? Instructor 03 -->
    <div class="container text-center">
      <h1 class="jumbotron">Team Rosters</h1>
      <div>
        <ul style="list-style: none;">
  
            {% for name in list %}
            <li>{{ name }}</li>
            {% endfor %}
            
        </ul>
      </div>
    </div>
  
     <!-- How do you process a dictionary? Instructor 05 -->
     <div class="container text-center">
      <h1 class="jumbotron">Player Roster</h1>
      <div>
        <ul style="list-style: none;">
          <li>{{ dict.player_1 }}</li>
          <li>{{ dict.player_2 }}</li>
        </ul>
      </div>
    </div>
  
    <!-- Bonus Dealing with dictionary lists and conditional processing -->
    <div class="container text-center">
      <h1 class="jumbotron">Pets are AWESOME!</h1>
      <div>
        <ul style="list-style: none;">
  
          <!-- Loop through the dictionary, test breed for color -->
          
          {% for cur_row in list_dict %}
              {% if cur_row.breed == "Corgie" %}
                  <li style="color:blue">{{ cur_row.name }} who is a wonderful {{ cur_row.breed }}</li>
              {% elif cur_row.breed == "Blue Healer" %}
                  <li style="color:red">{{ cur_row.name }} who was a nasty {{ cur_row.breed }}</li>
              {% else %}
                  <li style="color:purple">{{ cur_row.name }} who was a TV legend {{ cur_row.breed }}</li>
              {% endif %}
          
          {% endfor %}
  
        </ul>
      </div>
    </div>
  </body>
  
  </html>
