<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <!-- 1st Section Scrape Button -->
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <!-- <button class="btn_scrape_data" style="vertical-align:middle"><span>Scrape New Data</span> -->
            <p><a role='button' href='/scrape' class="btn btn-secondary btn-lg btn btn-info">Scrape New Data</a></p>
        </div>
    </div>
    
    <!-- 2nd Section Latest News-->
    <div class="container-fluid">
          <!-- <div class="jumbotron">< -->
          <article>
              <h1>Latest Mars News</h1>
              <h2>{{m_news.title}}</h2>
              <h3>{{m_news.article}}</h3>
          <!-- </article> -->
      <!-- </div> -->
    </div>
    
    <!-- 3nd Section Feature Image-->
    <div class="container-fluid"></div>
    <!-- <div class="jumbotron text-left jumbotron_background">  -->
      <!-- 1st row -->
      <section class="row">
        <!-- 1st Column -->
        <div class="col-lg-8">
          <div class="jumbotron text-left jumbotron_background"> 
            <h3>Featured Mars Image</h3>
            <img src="{{m_fimg.feat_img}}" alt="mars space image" width="550" height="650" >

          </div>
        </div>
            
            <!-- 2nd Column -->
              
        <div class="col-lg-4">
          <!--1st Row Current Weather -->
          <section>
              <div class="jumbotron text-left">
                
                <h3>Current Weather on Mars</h3>
                <p>{{m_weather.mars_weather}}<p>

              </div>
              <!--2nd Row Mars Facts -->
              <div class="jumbotron text-left">              
                <h3>Mars Facts (table)</h3>
                    {{m_fact.facts | safe}}
              </div>
          </section>
        </div>
      </section>
    <!-- </div> -->
    <!-- 4nd Section Hemispheres Image-->
    <div class="container">
      <h2 style="text-align:center">Mars Hemisphere</h2>
      <!-- 1st Row (2 Cards) -->
      <!-- <div class="card-columns"> -->
        
        <div class="col-sm-6">
          <div class="card" style="width:440px">
            <div class="card-body" >
              <img src="{{m_hemis.Cerberus_Hemisphere_Enhanced}}" alt="mars space image" width="400" height="400">
              <h5 class="card-title">Cerberus Hemisphere Enhanced</h5>
            </div>
          </div>

          <div class="card" style="width:440px" >
            <div class="card-body">
              <img src="{{m_hemis.Schiaparelli_Hemisphere_Enhanced}}" alt="mars space image" width="400" height="400">
              <h5 class="card-title">Schiaparelli Hemisphere Enhanced</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card" style="width:440px">
            <div class="card-body">
              <img src="{{m_hemis.Syrtis_Major_Hemisphere_Enhanced}}" alt="mars space image" width="400" height="400"> 
              <h5 class="card-title">Syrtis Major Hemisphere Enhanced</h5>
            </div>  
          </div>

          <div class="card" style="width:440px">
            <div class="card-body">
              <img src="{{m_hemis.Valles_Marineris_Hemisphere_Enhanced}}" alt="mars space image" width="400" height="400">
              <h5 class="card-title">Valles Marineris Hemisphere Enhanced</h5>
            </div>
          </div>
        </div>
      
    
  </body>
  
  </html>
